<%= link_to 'Volver a la publicaci칩n', publication_path(@publication.id) %>

<h1>Editar Rese침a de <%= @publication.title %><h1>


<%= form_with(model: [@publication, @review]) do |form| %>
    <div>
        <%= form.label "Calificaci칩n" %>
        <%= form.text_field :rating %>
    </div>
    <div>
        <%= form.label "Contenido" %>
        <%= form.text_field :content %>
    </div>
    <div>
        <%= form.submit "Editar rese침a" %>
    </div>
<% end %>